<a href="https://colab.research.google.com/github/dhyannn/Deep-learning/blob/main/514_DLprog9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
os.environ['CUDA_VISIBLE_DEVICES'] = ''

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import LSTM, Dense, SimpleRNN
from sklearn.preprocessing import LabelEncoder

In [ ]:
df = pd.read_csv("seattle-weather.csv")

In [ ]:
df.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   object
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

In [ ]:
df.describe()

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [ ]:
df.isnull().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [ ]:
df['weather'].unique()

array(['drizzle', 'rain', 'sun', 'snow', 'fog'], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Iterate over each column in the DataFrame
for column in df.columns:
    # Fit and transform each column
    df[column] = label_encoder.fit_transform(df[column])

print(df)

      date  precipitation  temp_max  temp_min  wind  weather
0        0              0        25        30    43        0
1        1             43        21        26    41        2
2        2              3        23        34    19        2
3        3             74        24        31    43        2
4        4              5        18        26    57        2
...    ...            ...       ...       ...   ...      ...
1456  1456             34        10        24    25        2
1457  1457              6        11        24     9        2
1458  1458              0        15        22    22        1
1459  1459              0        12        18    30        4
1460  1460              0        12        14    31        4

[1461 rows x 6 columns]

In [ ]:
X = processed_data
y = df['weather']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Reshape input data to 3D for LSTM
X_train = X_train.reshape((X_train.shape[0], 1, X_train.shape[1]))
X_test = X_test.reshape((X_test.shape[0], 1, X_test.shape[1]))

In [ ]:
# Define the LSTM model
model = Sequential()
model.add(LSTM(50, input_shape=(X_train.shape[1], X_train.shape[2])))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')

C:\Users\dhyan\anaconda3\Lib\site-packages\keras\src\layers\rnn\rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

In [ ]:
history = model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test), verbose=2)

Epoch 1/10
37/37 - 4s - 115ms/step - loss: 7.4919 - val_loss: 6.4267
Epoch 2/10
37/37 - 0s - 6ms/step - loss: 5.1116 - val_loss: 3.7917
Epoch 3/10
37/37 - 0s - 5ms/step - loss: 2.6186 - val_loss: 1.6018
Epoch 4/10
37/37 - 0s - 5ms/step - loss: 1.1293 - val_loss: 0.7046
Epoch 5/10
37/37 - 0s - 6ms/step - loss: 0.5917 - val_loss: 0.3918
Epoch 6/10
37/37 - 0s - 6ms/step - loss: 0.3570 - val_loss: 0.2431
Epoch 7/10
37/37 - 0s - 6ms/step - loss: 0.2434 - val_loss: 0.1758
Epoch 8/10
37/37 - 0s - 6ms/step - loss: 0.1855 - val_loss: 0.1447
Epoch 9/10
37/37 - 0s - 5ms/step - loss: 0.1560 - val_loss: 0.1295
Epoch 10/10
37/37 - 0s - 6ms/step - loss: 0.1391 - val_loss: 0.1195

In [ ]:
X_train.shape

(1168, 1, 9)

In [ ]:
# Predict with the trained models
y_pred_lstm = model.predict(X_train)
y_pred_rnn = rnnmodel.predict(X_train)

In [ ]:

# Calculate MSE for both models
mse_lstm = mean_squared_error(y_train, y_pred_lstm)
mse_rnn = mean_squared_error(y_train, y_pred_rnn)
print("MSE (LSTM):", mse_lstm)
print("MSE (RNN):", mse_rnn)

# Plot the results
plt.figure(figsize=(10, 5))
plt.plot(y_train, label='Actual')
plt.plot(y_pred_lstm, label='Predicted (LSTM)')
plt.plot(y_pred_rnn, label='Predicted (RNN)')
plt.title('Comparison of LSTM and RNN Predictions')
plt.xlabel('Sample Index')
plt.ylabel('Value')
plt.legend()
plt.show()